<main>
    <head>
        <link rel="stylesheet" href="/public/css/about_us_style.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel='stylesheet' type='text/css'>
    </head>

    <div id="brown_background" class="column_container" style="align-items: center">
        <div class="row_container" style="align-items: center; height: 100px">
            <svg width="96" height="94" viewBox="0 0 96 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M52.6864 49.9142C52.6864 50.6519 52.1492 51.3606 51.1908 51.8963C50.2388 52.4283 48.9103 52.7636 47.4322 52.7636C45.954 52.7636 44.6255 52.4283 43.6735 51.8963C42.7151 51.3606 42.1779 50.6519 42.1779 49.9142C42.1779 49.1765 42.7151 48.4677 43.6735 47.932C44.6255 47.4 45.954 47.0647 47.4322 47.0647C48.9103 47.0647 50.2388 47.4 51.1908 47.932C52.1492 48.4677 52.6864 49.1765 52.6864 49.9142Z" stroke="white" stroke-width="0.394844"/>
                <path d="M35.8368 35.0382C35.8368 36.7264 34.579 38.0669 33.0606 38.0669C31.5421 38.0669 30.2843 36.7264 30.2843 35.0382C30.2843 33.3501 31.5421 32.0096 33.0606 32.0096C34.579 32.0096 35.8368 33.3501 35.8368 35.0382Z" stroke="white" stroke-width="0.394844"/>
                <path d="M65.5722 35.0382C65.5722 36.7264 64.3144 38.0669 62.7959 38.0669C61.2775 38.0669 60.0197 36.7264 60.0197 35.0382C60.0197 33.3501 61.2775 32.0096 62.7959 32.0096C64.3144 32.0096 65.5722 33.3501 65.5722 35.0382Z" stroke="white" stroke-width="0.394844"/>
                <path d="M42.3918 12.272V9.70549H42.3763L42.3609 9.70567L42.3918 12.272ZM42.3918 12.272L42.3918 9.70549H42.392H42.3923H42.3926H42.3931H42.3937H42.3944H42.3951H42.396H42.397H42.3981H42.3993H42.4006H42.402H42.4035H42.4051H42.4068H42.4087H42.4106H42.4126H42.4147H42.417H42.4193H42.4217H42.4243H42.4269H42.4297H42.4325H42.4354H42.4385H42.4417H42.4449H42.4483H42.4517H42.4553H42.4589H42.4627H42.4666H42.4705H42.4746H42.4787H42.483H42.4874H42.4918H42.4964H42.5011H42.5059H42.5107H42.5157H42.5208H42.5259H42.5312H42.5366H42.542H42.5476H42.5533H42.5591H42.5649H42.5709H42.577H42.5831H42.5894H42.5958H42.6022H42.6088H42.6155H42.6222H42.6291H42.636H42.6431H42.6502H42.6575H42.6648H42.6723H42.6798H42.6875H42.6952H42.7031H42.711H42.719H42.7272H42.7354H42.7437H42.7521H42.7607H42.7693H42.778H42.7868H42.7957H42.8047H42.8138H42.823H42.8323H42.8417H42.8512H42.8608H42.8704H42.8802H42.8901H42.9001H42.9101H42.9203H42.9305H42.9409H42.9513H42.9618H42.9725H42.9832H42.994H43.0049H43.0159H43.0271H43.0383H43.0495H43.0609H43.0724H43.084H43.0957H43.1074H43.1193H43.1312H43.1433H43.1554H43.1677H43.18H43.1924H43.2049H43.2175H43.2302H43.243H43.2559H43.2689H43.2819H43.2951H43.3083H43.3217H43.3351H43.3487H43.3623H43.376H43.3898H43.4037H43.4177H43.4318H43.446H43.4602H43.4746H43.489H43.5036H43.5182H43.5329H43.5477H43.5626H43.5776H43.5927H43.6079H43.6231H43.6385H43.6539H43.6695H43.6851H43.7008H43.7166H43.7325H43.7485H43.7646H43.7807H43.797H43.8133H43.8298H43.8463H43.8629H43.8796H43.8964H43.9132H43.9302H43.9473H43.9644H43.9816H43.999H44.0164H44.0339H44.0514H44.0691H44.0869H44.1047H44.1227H44.1407H44.1588H44.177H44.1953H44.2136H44.2321H44.2506H44.2693H44.288H44.3068H44.3257H44.3447H44.3637H44.3829H44.4021H44.4214H44.4409H44.4604H44.4799H44.4996H44.5194H44.5392H44.5591H44.5791H44.5992H44.6194H44.6397H44.66H44.6805H44.701H44.7216H44.7423H44.7631H44.7839H44.8049H44.8259H44.847H44.8682H44.8895H44.9108H44.9323H44.9538H44.9754H44.9971H45.0189H45.0408H45.0627H45.0848H45.1069H45.1291H45.1514H45.1737H45.1962H45.2187H45.2413H45.264H45.2868H45.3097H45.3326H45.3556H45.3788H45.4019H45.4252H45.4486H45.472H45.4955H45.5191H45.5428H45.5666H45.5904H45.6143H45.6383H45.6624H45.6866H45.7108H45.7352H45.7596H45.7841H45.8086H45.8333H45.858H45.8828H45.9077H45.9327H45.9577H45.9829H46.0081H46.0334H46.0587H46.0842H46.1097H46.1353H46.161H46.1868H46.2126H46.2385H46.2645H46.2906H46.3168H46.343H46.3693H46.3957H46.4222H46.4487H46.4754H46.5021H46.5289H46.5557H46.5827H46.6097H46.6368H46.664H46.6912H46.7185H46.7459H46.7734H46.801H46.8286H46.8563H46.8841H46.912H46.9399H46.9679H46.996H47.0242H47.0524H47.0808H47.1092H47.1376H47.1662H47.1948H47.2235H47.2523H47.2811H47.3101H47.3391H47.3681H47.3973H47.4265H47.4558H47.4852H47.5147H47.5442H47.5738H47.6035H47.6332H47.663H47.6929H47.7229H47.7529H47.7831H47.8133H47.8435H47.8739H47.9043H47.9348H47.9653H47.996H48.0267H48.0574H48.0883H48.1192H48.1502H48.1813H48.2124H48.2437H48.2749H48.3063H48.3377H48.3692H48.4008H48.4325H48.4642H48.496H48.5278H48.5598H48.5918H48.6239H48.656H48.6882H48.7205H48.7529H48.7853H48.8178H48.8504H48.883H48.9158H48.9485H48.9814H49.0143H49.0473H49.0804H49.1135H49.1467H49.18H49.2134H49.2468H49.2803H49.3138H49.3474H49.3811H49.4149H49.4487H49.4826H49.5166H49.5506H49.5847H49.6189H49.6532H49.6875H49.7219H49.7563H49.7908H49.8254H49.8601H49.8948H49.9296H49.9644H49.9994H50.0344H50.0694H50.1045H50.1397H50.175H50.2103H50.2457H50.2812H50.3167H50.3523H50.388H50.4237H50.4595H50.4953H50.5313H50.5673H50.6033H50.6395H50.6756H50.7119H50.7482H50.7846H50.8211H50.8576H50.8942H50.9308H50.9675H51.0043H51.0412H51.0781H51.115H51.1521H51.1892H51.2264H51.2636H51.3009H51.3382H51.3757H51.4132H51.4507H51.4883H51.526H51.5638H51.6016H51.6394H51.6774H51.7154H51.7534H51.7916H51.8297H51.868H51.9063H51.9447H51.9831H52.0216H52.0602H52.0988H52.1375H52.1763H52.2151H52.2539H52.2929H52.3319H52.3709H52.4101H52.4492H52.4885H52.5278H52.5672H52.6066H52.6461H52.6856H52.7252H52.7649H52.8046H52.8444H52.8843H52.9242H52.9642H53.0042H53.0443H53.0845H53.1247H53.165H53.2053H53.2457H53.2861H53.3267H53.3672H53.4079H53.4486H53.4893H53.5301H53.571H53.6119H53.6529H53.6939H53.735H53.7762H53.8174H53.8587H53.9H53.9414H53.9829H54.0244H54.066C58.3764 9.70549 62.0675 11.6582 64.5495 13.424C65.8136 14.3234 66.8282 15.2199 67.53 15.8943C67.8822 16.2327 68.1591 16.5185 68.3528 16.7254C68.4498 16.8289 68.5262 16.9129 68.581 16.9742C68.5842 16.9778 68.5873 16.9813 68.5903 16.9847C68.6267 17.02 68.6745 17.0667 68.7331 17.1244C68.8726 17.2617 69.0734 17.4614 69.3269 17.7187C69.8336 18.2332 70.5517 18.979 71.4107 19.9176C73.126 21.7919 75.417 24.4497 77.7136 27.5814C82.2067 33.7085 87.1218 42.1772 87.1218 50.3059C87.1218 58.068 84.7347 64.7763 82.3914 69.5019C81.2157 71.8729 80.0384 73.7706 79.1483 75.0841C78.7027 75.7415 78.3277 76.2548 78.0588 76.61C77.9243 76.7877 77.8162 76.926 77.739 77.0233C77.7004 77.0719 77.6694 77.1103 77.6468 77.1382L77.619 77.1723L77.6099 77.1833L77.6065 77.1874L77.6052 77.189C77.6046 77.1898 77.604 77.1904 75.6289 75.5516L77.604 77.1904L77.5974 77.1983L75.639 75.56C77.5974 77.1983 77.5967 77.1992 77.5959 77.2001L77.5942 77.2021L77.5901 77.207L77.5789 77.2202L77.5451 77.2598C77.5175 77.292 77.4796 77.3356 77.4316 77.3899C77.3357 77.4984 77.1992 77.6497 77.0229 77.8376C76.6705 78.2133 76.1581 78.7362 75.4915 79.3571C74.16 80.5974 72.2035 82.2375 69.6686 83.8754C64.6015 87.1494 57.1572 90.4544 47.7638 90.4544C38.365 90.4544 31.0469 87.1457 26.1011 83.8569C23.6288 82.2129 21.7366 80.5663 20.4535 79.3203C19.8112 78.6965 19.319 78.1708 18.9807 77.7925C18.8115 77.6033 18.6806 77.4508 18.5884 77.341C18.5527 77.2985 18.5228 77.2624 18.4987 77.2331C18.4781 77.2105 18.4538 77.1837 18.4261 77.1528C18.3433 77.0603 18.2295 76.9304 18.0897 76.764C17.81 76.4313 17.4253 75.9516 16.9741 75.3313C16.0724 74.0918 14.8997 72.2831 13.7694 69.9554C11.5071 65.2965 9.40484 58.5342 10.0183 50.1193C11.0481 35.9941 18.2846 26.5299 23.0397 20.311C23.8889 19.2004 24.659 18.1933 25.3004 17.2816C28.0601 13.3591 32.527 11.528 35.9295 10.646C37.6764 10.1931 39.2612 9.95979 40.4095 9.8388C40.986 9.77806 41.4585 9.74501 41.7937 9.72704C41.9615 9.71804 42.0953 9.7128 42.1911 9.70976C42.239 9.70824 42.2775 9.70726 42.3059 9.70665L42.341 9.70596L42.3529 9.70578L42.3574 9.70572L42.3592 9.70569C42.3601 9.70568 42.3609 9.70567 42.3918 12.272Z" stroke="white" stroke-width="5.13297"/>
                <path d="M34.4271 12.4829C34.4271 12.4829 23.5665 -1.56569 13.8179 4.82669C4.06921 11.2191 3 22.0002 3 22.0002C3 22.0002 4.876 29.8455 13.8179 35.4121" stroke="white" stroke-width="5.13297"/>
                <path d="M61.7154 12.4829C61.7154 12.4829 72.576 -1.56569 82.3247 4.82669C92.0734 11.2191 93.1426 22.0002 93.1426 22.0002C93.1426 22.0002 91.2666 29.8455 82.3247 35.4121" stroke="white" stroke-width="5.13297"/>
                <path d="M29.8517 59.176C29.8517 59.176 29.8228 69.1058 38.6022 65.4244C47.3816 61.7429 47.4786 52.9608 47.4786 52.9608" stroke="white" stroke-width="3.18199" stroke-linecap="round"/>
                <path d="M65.1454 59.6905C65.1454 59.6905 65.2455 69.1058 56.4662 65.4244C47.6868 61.7429 47.5898 52.9608 47.5898 52.9608" stroke="white" stroke-width="3.18199" stroke-linecap="round"/>
                <path d="M38.7783 65.6476C38.7783 65.6476 39.8832 80.8291 47.5341 80.8291C55.185 80.8291 56.2898 65.6476 56.2898 65.6476" stroke="white" stroke-width="3.18199"/>
                <path d="M47.5914 57.5477L47.3223 71.8358" stroke="white" stroke-width="3.18199" stroke-linecap="round"/>
            </svg>
            <h1 style="margin-left: 30px">WANG WANG</h1>  
        </div>
        <p style="font-weight: 700; color: white">Bringing Health and Beauty to everyone.</p>
        <br>
        <img src="/public/media/Video.png" style="height: 464px; width: 700px"></a>
        <div id="ellipse"></div>
    </div>
    <div class="row_container" style="justify-content: space-around">
        <div>
            <img src="/public/media/doctor_about_us.png">
        </div>
        <div class="column_container" style="width: 500px">
            <h2>Our Mission</h2>
            <p style="font-size: 24px; font-weight: 700">Our goal is to transform the fast-growing yet opaque medical aesthetics market in the US and around the world by providing transparent information, which ultimately will allows us to build a one-stop destination where users can conveniently find quality medical aesthetic services.</p>
        </div>
    </div>
    <br><br><br>
    <div class="column_container" style="align-items: center">
        <h2>Our Team</h2>
        <br><br>
        <div class="row_container">
            <img src="/public/media/team_member.png" class="team_member">
            <img src="/public/media/team_member.png" class="team_member">
            <img src="/public/media/team_member.png" class="team_member">
            <img src="/public/media/team_member.png" class="team_member">
            <img src="/public/media/team_member.png">
        </div>
        <br><br>
        <div class="row_container">
            <img src="/public/media/team_member.png" class="team_member">
            <img src="/public/media/team_member.png" class="team_member">
            <img src="/public/media/team_member.png">
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div id="contact_us">
        <div class="row_container" style="align-items: center; margin-bottom: 0">
            <h2 style="margin: 30px 20px 0 0">Contact Us</h2>
            <img src="/public/media/phone_icon.png" style="height: 70px; width: 70px; margin-top: 30px">
        </div>
        <h3>You can contact us at example@gmail.com or (123) 456-7890.</h2>
    </div>
</main>
