<main>
    <head>
        <link rel="stylesheet" href="chat.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    </head>

    <div id="flex_container">

        <div id="sidebar">
            <div id="search_container">
                <svg id="magnify_glass" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6537 21.1936C6.58584 21.1936 2.47754 17.0853 2.47754 12.0174C2.47754 6.9496 6.58584 2.84131 11.6537 2.84131C16.7215 2.84131 20.8298 6.9496 20.8298 12.0174C20.8298 17.0853 16.7215 21.1936 11.6537 21.1936Z" stroke="#5C5C5C" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M21.7961 22.1589L19.8643 20.2271" stroke="#5C5C5C" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <input type="search" placeholder="Search" id="search">
            </div>
            <hr>
            <button type="button" id="new_chat_btn">
                <svg width="30" height="30" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0089 0.200195C30.9218 0.200195 39.7996 9.0827 39.7996 19.9995C39.7996 30.9163 30.9218 39.7988 20.0105 39.7972C16.9235 39.7974 13.8791 39.0767 11.1199 37.6925L2.16214 39.7572C1.57731 39.8946 0.964843 39.6922 0.577167 39.2334C0.18949 38.7747 0.0922268 38.1372 0.325463 37.5838L3.25487 30.5645C1.255 27.4203 0.202271 23.785 0.202271 19.9995C0.202271 9.0827 9.08807 0.200195 20.0089 0.200195ZM12.1024 34.5978C14.5087 35.9076 17.2429 36.6001 20.0091 36.6001C29.1573 36.6001 36.6 29.1538 36.6 19.9994C36.6 10.845 29.1573 3.39865 20.0091 3.39865C10.8513 3.39865 3.4022 10.845 3.4022 19.9994C3.39035 23.3873 4.42698 26.6961 6.37 29.472C6.68477 29.921 6.74757 30.4998 6.53639 31.0057L4.47733 35.9412L10.9761 34.4426C11.3579 34.3544 11.7587 34.4097 12.1024 34.5978Z" fill="white"/>
                    <path d="M25.9398 18.8692H21.1314V14.0608C21.1314 13.1756 20.4138 12.458 19.5286 12.458C18.6434 12.458 17.9258 13.1756 17.9258 14.0608V18.8692H13.1174C12.2322 18.8692 11.5146 19.5868 11.5146 20.472C11.5146 21.3572 12.2322 22.0747 13.1174 22.0747H17.9258V26.8831C17.9258 27.7683 18.6434 28.4859 19.5286 28.4859C20.4138 28.4859 21.1314 27.7683 21.1314 26.8831V22.0747H25.9398C26.825 22.0747 27.5425 21.3572 27.5425 20.472C27.5425 19.5868 26.825 18.8692 25.9398 18.8692Z" fill="white"/>
                </svg>      
            </button>
        </div>

        <div id="message_bar">
            <button type="button" id="attach_btn">
                <svg width="30" height="30" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.0402 21.4598H21.4598V34.0402C21.4598 35.6742 20.1341 37 18.5 37C16.8659 37 15.5402 35.6742 15.5402 34.0402V21.4598H2.95984C1.32577 21.4598 0 20.1341 0 18.5C0 16.8659 1.32577 15.5402 2.95984 15.5402H15.5402V2.95984C15.5402 1.32577 16.8659 0 18.5 0C20.1341 0 21.4598 1.32577 21.4598 2.95984V15.5402H34.0402C35.6742 15.5402 37 16.8659 37 18.5C37 20.1341 35.6742 21.4598 34.0402 21.4598Z" fill="#AAAAAA"/>
                </svg>    
            </button>
            <input type="text" placeholder="Write something..." id="message">
            <button type="button" id="send_message_btn">
                <svg width="25" height="25" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7267 19.6352L10.8867 17.1152L8.36665 16.2752C3.74665 14.7352 2.77832 12.7869 2.77832 11.4102C2.77832 10.0452 3.74665 8.08521 8.36665 6.53354L18.2717 3.23187C20.745 2.40354 22.81 2.64854 24.0817 3.90854C25.3533 5.16854 25.5983 7.24521 24.77 9.71854L21.4683 19.6235C19.9167 24.2669 17.9683 25.2352 16.5917 25.2352C15.215 25.2352 13.2667 24.2669 11.7267 19.6352ZM4.51665 11.4102C4.51665 12.2502 5.67165 13.5335 8.91499 14.6069L11.855 15.5869C12.1117 15.6685 12.3217 15.8785 12.4033 16.1352L13.3833 19.0752C14.4567 22.3185 15.7517 23.4735 16.5917 23.4735C17.4317 23.4735 18.715 22.3185 19.8 19.0752L23.1017 9.17021C23.6967 7.37354 23.5917 5.90354 22.8333 5.14521C22.075 4.38687 20.605 4.29354 18.82 4.88854L8.91499 8.20187C5.67165 9.28687 4.51665 10.5702 4.51665 11.4102Z" fill="white"/>
                    <path d="M11.1786 16.543C10.8402 16.2047 10.8402 15.6447 11.1786 15.3063L15.3552 11.118C15.6936 10.7797 16.2536 10.7797 16.5919 11.118C16.9302 11.4563 16.9302 12.0163 16.5919 12.3547L12.4152 16.543C12.2519 16.718 12.0186 16.7997 11.7969 16.7997C11.5752 16.7997 11.3536 16.718 11.1786 16.543Z" fill="white"/>
                    <path opacity="0.01" fill-rule="evenodd" clip-rule="evenodd" d="M28 0V28H0V0H28Z" fill="white"/>
                </svg>   
            </button>
        </div>

    </div>
</main>
