<h2 id="error-status" style="font-family:'Lato'; font-size:xxx-large;padding-top:10%; padding-left:5%;">Error {{status}}</h2>
<p id="error-message" style="font-family:'Lato';padding-left:5%">{{error}}</p>