<main id="home-main">
  <div id="home-ctn">
    <h1 id="home-head">Wang Wang</h1>
    <p id="home-text">
      Website for Wang Wang
    </p>
  </div>
  {{#if auth}}
    <p>You have been logged in!</p>
  </div>
  {{else}}
    <div class="center">
      <p class="block button-text">Have an Account?</p>
      <a href="/login" class="big-btn">Log In</a>
      <p class="block button-text">Create a New Account</p>
      <a href="/register" class="big-btn">Register</a>
      <p class="block button-text">Third party sign-in:</p>
      <a href="/auth/google" class="google-btn"> Sign Up with Google</a>
    </div>
  {{/if}}
</main>