<main>
  <head>
    <link rel="stylesheet" href="/public/css/login-style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  
  <div class="flex-container-1">
    <svg width="409" height="412" viewBox="0 0 409 412" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M217.845 112.29C217.845 114.149 216.382 115.881 213.905 117.161C211.438 118.435 208.017 119.229 204.226 119.229C200.436 119.229 197.014 118.435 194.547 117.161C192.07 115.881 190.607 114.149 190.607 112.29C190.607 110.431 192.07 108.698 194.547 107.419C197.014 106.145 200.436 105.351 204.226 105.351C208.017 105.351 211.438 106.145 213.905 107.419C216.382 108.698 217.845 110.431 217.845 112.29Z" fill="white" stroke="white" stroke-width="0.394844"/>
      <path d="M175.139 77.4461C175.139 81.5108 171.853 84.8051 167.801 84.8051C163.748 84.8051 160.462 81.5108 160.462 77.4461C160.462 73.3813 163.748 70.0871 167.801 70.0871C171.853 70.0871 175.139 73.3813 175.139 77.4461Z" fill="white" stroke="white" stroke-width="0.394844"/>
      <path d="M250.503 77.4461C250.503 81.5108 247.216 84.8051 243.164 84.8051C239.111 84.8051 235.825 81.5108 235.825 77.4461C235.825 73.3813 239.111 70.0871 243.164 70.0871C247.216 70.0871 250.503 73.3813 250.503 77.4461Z" fill="white" stroke="white" stroke-width="0.394844"/>
      <path d="M191.449 24.1211V21.5546H191.434L191.42 21.5548L191.449 24.1211ZM191.449 24.1211C191.449 21.5546 191.449 21.5546 191.449 21.5546H191.449H191.45H191.451H191.452H191.454H191.455H191.457H191.46H191.462H191.465H191.468H191.471H191.475H191.479H191.483H191.487H191.492H191.496H191.502H191.507H191.513H191.519H191.525H191.531H191.538H191.545H191.552H191.559H191.567H191.575H191.583H191.592H191.601H191.61H191.619H191.628H191.638H191.648H191.659H191.669H191.68H191.691H191.702H191.714H191.726H191.738H191.75H191.763H191.776H191.789H191.802H191.816H191.83H191.844H191.858H191.873H191.888H191.903H191.918H191.934H191.95H191.966H191.982H191.999H192.016H192.033H192.05H192.068H192.086H192.104H192.122H192.141H192.16H192.179H192.198H192.218H192.238H192.258H192.278H192.299H192.32H192.341H192.362H192.384H192.405H192.428H192.45H192.472H192.495H192.518H192.542H192.565H192.589H192.613H192.637H192.662H192.687H192.712H192.737H192.762H192.788H192.814H192.84H192.867H192.894H192.92H192.948H192.975H193.003H193.031H193.059H193.087H193.116H193.145H193.174H193.203H193.233H193.262H193.293H193.323H193.353H193.384H193.415H193.446H193.478H193.51H193.541H193.574H193.606H193.639H193.672H193.705H193.738H193.772H193.806H193.84H193.874H193.908H193.943H193.978H194.013H194.049H194.084H194.12H194.157H194.193H194.23H194.266H194.303H194.341H194.378H194.416H194.454H194.492H194.531H194.569H194.608H194.648H194.687H194.726H194.766H194.806H194.847H194.887H194.928H194.969H195.01H195.051H195.093H195.135H195.177H195.219H195.262H195.305H195.348H195.391H195.434H195.478H195.522H195.566H195.61H195.655H195.7H195.745H195.79H195.835H195.881H195.927H195.973H196.019H196.066H196.113H196.16H196.207H196.254H196.302H196.35H196.398H196.446H196.495H196.544H196.593H196.642H196.691H196.741H196.791H196.841H196.891H196.942H196.992H197.043H197.094H197.146H197.197H197.249H197.301H197.353H197.406H197.458H197.511H197.564H197.618H197.671H197.725H197.779H197.833H197.887H197.942H197.997H198.052H198.107H198.162H198.218H198.274H198.33H198.386H198.443H198.499H198.556H198.613H198.671H198.728H198.786H198.844H198.902H198.96H199.019H199.078H199.137H199.196H199.255H199.315H199.375H199.435H199.495H199.555H199.616H199.677H199.738H199.799H199.86H199.922H199.984H200.046H200.108H200.171H200.233H200.296H200.359H200.423H200.486H200.55H200.614H200.678H200.742H200.807H200.871H200.936H201.001H201.067H201.132H201.198H201.264H201.33H201.396H201.463H201.529H201.596H201.663H201.731H201.798H201.866H201.934H202.002H202.07H202.138H202.207H202.276H202.345H202.414H202.484H202.553H202.623H202.693H202.764H202.834H202.905H202.975H203.046H203.118H203.189H203.261H203.332H203.404H203.476H203.549H203.621H203.694H203.767H203.84H203.913H203.987H204.061H204.135H204.209H204.283H204.357H204.432H204.507H204.582H204.657H204.732H204.808H204.884H204.96H205.036H205.112H205.189H205.265H205.342H205.419H205.497H205.574H205.652H205.73H205.808H205.886H205.964H206.043H206.122H206.2H206.28H206.359H206.438H206.518H206.598H206.678H206.758H206.838H206.919H207H207.081H207.162H207.243H207.325H207.406H207.488H207.57H207.652H207.735H207.817H207.9H207.983H208.066H208.149H208.233H208.316H208.4H208.484H208.568H208.653H208.737H208.822H208.907H208.992H209.077H209.162H209.248H209.334H209.42H209.506H209.592H209.678H209.765H209.852H209.939H210.026H210.113H210.201H210.288H210.376H210.464H210.552H210.641H210.729H210.818H210.907H210.996H211.085H211.174H211.264H211.354H211.443H211.533H211.624H211.714H211.805H211.895H211.986H212.077H212.168H212.26H212.351H212.443H212.535H212.627H212.719H212.812H212.904H212.997H213.09H213.183H213.276H213.369H213.463H213.557H213.651H213.745H213.839H213.933H214.028H214.122H214.217H214.312H214.407H214.503H214.598H214.694H214.79H214.886H214.982H215.078H215.175H215.271H215.368H215.465H215.562H215.659H215.757H215.854H215.952H216.05H216.148H216.246H216.345H216.443H216.542H216.641H216.74H216.839H216.938H217.038H217.137H217.237H217.337H217.437H217.537H217.638H217.738H217.839H217.94H218.041H218.142H218.243H218.345H218.446H218.548H218.65H218.752H218.854H218.957H219.059H219.162H219.265H219.368H219.471H219.574H219.677H219.781H219.885H219.989H220.093H220.197H220.301H220.406H220.51H220.615H220.72H220.825H220.93H221.035C230.735 21.5546 239.257 25.6368 245.244 29.5732C248.256 31.5542 250.681 33.5335 252.356 35.0213C253.195 35.7662 253.849 36.3908 254.299 36.8347C254.524 37.0567 254.698 37.2338 254.818 37.3584C254.861 37.4029 254.898 37.4407 254.927 37.4715L254.98 37.5191C255.07 37.5997 255.202 37.718 255.372 37.8727C255.712 38.1821 256.207 38.6368 256.834 39.2258C258.09 40.4036 259.877 42.119 262.019 44.2821C266.3 48.6051 272.013 54.7315 277.732 61.94C283.447 69.1414 289.207 77.4718 293.547 86.203C297.878 94.9152 300.873 104.18 300.873 113.208C300.873 130.736 295.035 145.943 289.257 156.713C286.362 162.108 283.467 166.42 281.288 169.391C280.199 170.877 279.287 172.03 278.641 172.818C278.319 173.211 278.063 173.514 277.885 173.722C277.852 173.76 277.822 173.794 277.795 173.826C277.747 173.881 277.708 173.926 277.677 173.961L277.619 174.026L277.602 174.045L277.597 174.051L277.595 174.053C277.594 174.054 277.594 174.055 275.684 172.34M191.449 24.1211C191.42 21.5548 191.419 21.5548 191.419 21.5548L191.416 21.5548L191.41 21.5549L191.39 21.5552L191.321 21.5564C191.262 21.5576 191.179 21.5595 191.071 21.5627C190.857 21.569 190.548 21.5801 190.154 21.5996C189.367 21.6386 188.241 21.7112 186.858 21.8458C184.096 22.1148 180.289 22.6335 176.105 23.6358C167.847 25.6143 157.627 29.5941 151.411 37.7596C149.707 39.9975 147.695 42.4334 145.501 45.0914C133.445 59.6904 115.857 80.9907 113.331 113.006C111.83 132.037 116.973 147.303 122.488 157.8C125.245 163.047 128.099 167.112 130.274 169.875C131.362 171.258 132.283 172.318 132.939 173.039C133.267 173.4 133.529 173.677 133.714 173.867C133.806 173.962 133.879 174.036 133.931 174.088C133.934 174.091 133.937 174.094 133.94 174.097C133.946 174.105 133.954 174.113 133.961 174.121C134.018 174.185 134.098 174.276 134.203 174.391C134.413 174.622 134.719 174.952 135.121 175.367C135.924 176.196 137.109 177.367 138.666 178.765C141.78 181.56 146.391 185.269 152.42 188.975C164.481 196.387 182.254 203.802 205.064 203.802C227.868 203.802 245.974 196.39 258.364 188.991C264.559 185.292 269.337 181.589 272.577 178.8C274.197 177.405 275.435 176.237 276.274 175.41C276.694 174.997 277.015 174.668 277.234 174.439C277.344 174.324 277.428 174.234 277.487 174.171C277.516 174.139 277.539 174.114 277.556 174.096L277.576 174.074L277.583 174.067L277.585 174.065C277.586 174.064 277.587 174.063 275.684 172.34M275.684 172.34L277.587 174.063L277.594 174.055L275.684 172.34Z" stroke="white" stroke-width="5.13297"/>
      <path d="M171.265 24.6154C171.265 24.6154 143.74 -8.29045 119.034 6.68236C94.3269 21.6552 91.6171 46.9076 91.6171 46.9076C91.6171 46.9076 96.3716 65.2837 119.034 78.3224" stroke="white" stroke-width="5.13297"/>
      <path d="M240.422 24.6154C240.422 24.6154 267.947 -8.29045 292.654 6.68236C317.361 21.6552 320.07 46.9076 320.07 46.9076C320.07 46.9076 315.316 65.2837 292.654 78.3224" stroke="white" stroke-width="5.13297"/>
      <path d="M159.67 133.984C159.67 133.984 159.597 157.242 181.847 148.619C204.097 139.996 204.343 119.426 204.343 119.426" stroke="white" stroke-width="3.18199" stroke-linecap="round"/>
      <path d="M249.118 135.189C249.118 135.189 249.372 157.242 227.121 148.619C204.871 139.996 204.625 119.426 204.625 119.426" stroke="white" stroke-width="3.18199" stroke-linecap="round"/>
      <path d="M182.294 149.143C182.294 149.143 185.094 184.702 204.484 184.702C223.874 184.702 226.674 149.143 226.674 149.143" stroke="white" stroke-width="3.18199"/>
      <path d="M204.625 130.17L203.943 163.637" stroke="white" stroke-width="3.18199" stroke-linecap="round"/>
      <path d="M61.4741 252.55L50.0829 286.629L38.819 252.55H31.1825L19.6641 286.438L8.5911 252.55H0L14.764 297.139H23.6096L34.8099 264.143L45.8192 297.139H54.6012L69.3652 252.55H61.4741Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M74.9017 266.946C78.5291 264.144 83.811 262.742 89.2839 262.742C99.0841 262.742 104.748 267.392 104.748 277.202V297.14H97.2386V292.999C95.3294 295.929 91.6385 297.585 86.5474 297.585C78.7836 297.585 73.8835 293.318 73.8835 287.394C73.8835 281.724 77.7018 277.266 88.0111 277.266H96.7931V276.756C96.7931 272.106 93.9931 269.367 88.3293 269.367C84.511 269.367 80.5655 270.641 78.02 272.743L74.9017 266.946ZM81.711 287.075C81.711 289.941 84.1293 291.788 88.2021 291.788C92.084 291.788 95.4568 290.005 96.7932 286.501V282.552H88.5839C83.1747 282.552 81.711 284.59 81.711 287.075Z" fill="white"/>
      <path d="M134.212 262.742C129.248 262.742 125.112 264.398 122.503 267.52V263.124H114.93V297.14H122.885V279.941C122.885 273.125 126.703 269.685 132.367 269.685C137.458 269.685 140.449 272.616 140.449 278.667V297.14H148.403V277.648C148.403 267.392 142.358 262.742 134.212 262.742Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M184.677 267.647V263.124H192.25V291.98C192.25 304.338 185.822 309.943 173.922 309.943C167.558 309.943 161.258 308.287 157.376 305.102L160.94 299.114C163.931 301.599 168.767 303.191 173.477 303.191C180.986 303.191 184.295 299.751 184.295 292.872V291.088C181.495 294.146 177.486 295.611 172.904 295.611C163.167 295.611 155.722 288.986 155.722 279.113C155.722 269.239 163.167 262.742 172.904 262.742C177.677 262.742 181.877 264.271 184.677 267.647ZM163.74 279.113C163.74 284.909 168.067 288.859 174.113 288.859C180.095 288.859 184.422 284.909 184.422 279.113C184.422 273.38 180.095 269.494 174.113 269.494C168.067 269.494 163.74 273.38 163.74 279.113Z" fill="white"/>
      <path d="M278.224 252.55L266.833 286.629L255.569 252.55H247.933L236.414 286.438L225.341 252.55H216.75L231.514 297.139H240.36L251.56 264.143L262.57 297.139H271.352L286.116 252.55H278.224Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M291.652 266.946C295.279 264.144 300.561 262.742 306.034 262.742C315.834 262.742 321.498 267.392 321.498 277.202V297.14H313.989V292.999C312.08 295.929 308.389 297.585 303.298 297.585C295.534 297.585 290.634 293.318 290.634 287.394C290.634 281.724 294.452 277.266 304.761 277.266H313.543V276.756C313.543 272.106 310.743 269.367 305.08 269.367C301.261 269.367 297.316 270.641 294.77 272.743L291.652 266.946ZM298.461 287.075C298.461 289.941 300.88 291.788 304.952 291.788C308.834 291.788 312.207 290.005 313.543 286.501V282.552H305.334C299.925 282.552 298.461 284.59 298.461 287.075Z" fill="white"/>
      <path d="M350.962 262.742C345.999 262.742 341.862 264.398 339.253 267.52V263.124H331.68V297.14H339.635V279.941C339.635 273.125 343.453 269.685 349.117 269.685C354.208 269.685 357.199 272.616 357.199 278.667V297.14H365.153V277.648C365.153 267.392 359.108 262.742 350.962 262.742Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M401.427 267.647V263.124H409V291.98C409 304.338 402.573 309.943 390.672 309.943C384.309 309.943 378.008 308.287 374.127 305.102L377.69 299.114C380.681 301.599 385.518 303.191 390.227 303.191C397.736 303.191 401.045 299.751 401.045 292.872V291.088C398.245 294.146 394.236 295.611 389.654 295.611C379.918 295.611 372.472 288.986 372.472 279.113C372.472 269.239 379.918 262.742 389.654 262.742C394.427 262.742 398.627 264.271 401.427 267.647ZM380.49 279.113C380.49 284.909 384.818 288.859 390.863 288.859C396.845 288.859 401.173 284.909 401.173 279.113C401.173 273.38 396.845 269.494 390.863 269.494C384.818 269.494 380.49 273.38 380.49 279.113Z" fill="white"/>
      <path d="M152.362 371.658C155.857 371.658 158.98 370.469 161.084 368.159L159.489 366.562C157.554 368.567 155.179 369.416 152.463 369.416C146.727 369.416 142.417 365.203 142.417 359.564C142.417 353.925 146.727 349.712 152.463 349.712C155.179 349.712 157.554 350.561 159.489 352.532L161.084 350.935C158.98 348.625 155.857 347.47 152.395 347.47C145.234 347.47 139.939 352.6 139.939 359.564C139.939 366.528 145.234 371.658 152.362 371.658Z" fill="white"/>
      <path d="M169.629 371.455H185.445V369.28H172.14V347.674H169.629V371.455Z" fill="white"/>
      <path d="M192.801 371.455H195.313V347.674H192.801V371.455Z" fill="white"/>
      <path d="M223.611 347.674V366.97L208.304 347.674H206.233V371.455H208.745V352.158L224.018 371.455H226.088V347.674H223.611Z" fill="white"/>
      <path d="M237.008 371.455H239.52V347.674H237.008V371.455Z" fill="white"/>
      <path d="M260.758 371.658C264.254 371.658 267.376 370.469 269.481 368.159L267.885 366.562C265.951 368.567 263.575 369.416 260.86 369.416C255.124 369.416 250.814 365.203 250.814 359.564C250.814 353.925 255.124 349.712 260.86 349.712C263.575 349.712 265.951 350.561 267.885 352.532L269.481 350.935C267.376 348.625 264.254 347.47 260.792 347.47C253.631 347.47 248.336 352.6 248.336 359.564C248.336 366.528 253.631 371.658 260.758 371.658Z" fill="white"/>
      <path d="M108.523 412.001C114.599 412.001 117.382 409.011 117.382 405.512C117.382 396.849 102.754 400.79 102.754 394.267C102.754 391.889 104.688 389.953 109.033 389.953C111.137 389.953 113.513 390.598 115.549 391.923L116.398 389.919C114.497 388.594 111.714 387.812 109.033 387.812C102.991 387.812 100.276 390.836 100.276 394.335C100.276 403.134 114.904 399.125 114.904 405.648C114.904 407.992 112.97 409.861 108.523 409.861C105.401 409.861 102.38 408.638 100.683 406.973L99.699 408.91C101.464 410.744 104.96 412.001 108.523 412.001Z" fill="white"/>
      <path d="M128.54 409.623V400.79H140.826V398.65H128.54V390.191H142.32V388.017H126.028V411.798H142.829V409.623H128.54Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M172.315 411.799H169.667L166.816 405.446H153.58L150.729 411.799H148.115L158.976 388.018H161.454L172.315 411.799ZM160.198 390.634L154.496 403.407H165.9L160.198 390.634Z" fill="white"/>
      <path d="M217.395 412.001C220.891 412.001 224.013 410.812 226.117 408.502L224.522 406.905C222.588 408.91 220.212 409.759 217.497 409.759C211.761 409.759 207.45 405.546 207.45 399.907C207.45 394.267 211.761 390.055 217.497 390.055C220.212 390.055 222.588 390.904 224.522 392.874L226.117 391.278C224.013 388.968 220.891 387.812 217.429 387.812C210.267 387.812 204.973 392.942 204.973 399.907C204.973 406.871 210.267 412.001 217.395 412.001Z" fill="white"/>
      <path d="M252.04 388.017V398.616H237.174V388.017H234.662V411.798H237.174V400.824H252.04V411.798H254.517V388.017H252.04Z" fill="white"/>
      <path d="M267.949 409.623V400.79H280.235V398.65H267.949V390.191H281.728V388.017H265.437V411.798H282.237V409.623H267.949Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M304.494 403.645L310.298 411.799H307.548L302.118 404.155C301.507 404.223 300.896 404.257 300.217 404.257H293.837V411.799H291.325V388.018H300.217C306.259 388.018 309.924 391.075 309.924 396.171C309.924 399.908 307.956 402.524 304.494 403.645ZM293.837 402.117H300.149C304.901 402.117 307.413 399.909 307.413 396.172C307.413 392.367 304.901 390.192 300.149 390.192H293.837V402.117Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M192.686 403.645L198.49 411.799H195.741L190.311 404.155C189.7 404.223 189.089 404.257 188.41 404.257H182.029V411.799H179.518V388.018H188.41C194.451 388.018 198.117 391.075 198.117 396.171C198.117 399.908 196.148 402.524 192.686 403.645ZM182.029 402.117H188.342C193.094 402.117 195.605 399.909 195.605 396.172C195.605 392.367 193.094 390.192 188.342 390.192H182.029V402.117Z" fill="white"/>
    </svg>

    <form action="/login" method="POST" style="margin-top: 30px">

      <svg width="38" height="27" viewBox="0 0 38 27" fill="none" xmlns="http://www.w3.org/2000/svg" style="float: right">
        <path d="M2.71429 0H16.2857C17.0056 0 17.696 0.284464 18.205 0.790812C18.714 1.29716 19 1.98392 19 2.7C19 3.41608 18.714 4.10284 18.205 4.60919C17.696 5.11554 17.0056 5.4 16.2857 5.4H2.71429C1.99441 5.4 1.30402 5.11554 0.794996 4.60919C0.285969 4.10284 0 3.41608 0 2.7C0 1.98392 0.285969 1.29716 0.794996 0.790812C1.30402 0.284464 1.99441 0 2.71429 0ZM21.7143 21.6H35.2857C36.0056 21.6 36.696 21.8845 37.205 22.3908C37.714 22.8972 38 23.5839 38 24.3C38 25.0161 37.714 25.7028 37.205 26.2092C36.696 26.7155 36.0056 27 35.2857 27H21.7143C20.9944 27 20.304 26.7155 19.795 26.2092C19.286 25.7028 19 25.0161 19 24.3C19 23.5839 19.286 22.8972 19.795 22.3908C20.304 21.8845 20.9944 21.6 21.7143 21.6ZM2.71429 10.8H35.2857C36.0056 10.8 36.696 11.0845 37.205 11.5908C37.714 12.0972 38 12.7839 38 13.5C38 14.2161 37.714 14.9028 37.205 15.4092C36.696 15.9155 36.0056 16.2 35.2857 16.2H2.71429C1.99441 16.2 1.30402 15.9155 0.794996 15.4092C0.285969 14.9028 0 14.2161 0 13.5C0 12.7839 0.285969 12.0972 0.794996 11.5908C1.30402 11.0845 1.99441 10.8 2.71429 10.8Z" fill="#FF3EA5"/>
      </svg>
      <br><br>
      
      <div id="header">
        <h1 style="font-weight: 900">Welcome Back!</h1>
        <p style="color: white">Login to Continue</p>
      </div>

       <label for="countryCodeInput">
      Country Code (+_)
      <input
        type="countryCode"
        name="countryCodeInput"
        id="countryCodeInput"
        placeholder="Enter country code"
      >
    </label>

    <label for="mobileInput">
      Phone Number
      <input
        type="mobile"
        name="mobileInput"
        id="mobileInput"
        placeholder="Enter phone number"
      >
    </label>

    <label for="passwordInput">
      Password
      <input
        type="password"
        name="passwordInput"
        id="passwordInput"
        placeholder="Enter password"
      >
    </label>

      <div id="error-div"></div>
      {{!-- <div id="errors">{{bad}}</div> --}}

      {{#if error}}
        <p id="server-errors" class="errors">{{message}}</p>
      {{/if}}

      <div class="flex-container-3">

        <div class="flex-container-2">
          <label for="remember-check" class="flex-container-2" style="font-size: 13px; margin-top: 5px">
            <input 
              type="checkbox" 
              id="remember-check"
            >
            <b>Remember Me</b>
          </label>
        </div>

        <p style="margin-top: 7px" class="light-link"><b>Forgot Password?</b></p>
        
      </div>

      <br>
      <button type="submit" class="btn">Login</button>
      <br><br>

      <p class="center">Or Login With</p>
      <div class="flex-container-4">
        <svg width="25" height="25" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18 9.02256C18 4.04211 13.968 0 9 0C4.032 0 0 4.04211 0 9.02256C0 13.3895 3.096 17.0256 7.2 17.8647V11.7293H5.4V9.02256H7.2V6.76692C7.2 5.02556 8.613 3.60902 10.35 3.60902H12.6V6.31579H10.8C10.305 6.31579 9.9 6.7218 9.9 7.21804V9.02256H12.6V11.7293H9.9V18C14.445 17.5489 18 13.7053 18 9.02256Z" fill="#FF3EA5"/>
        </svg>
        <svg width="25" height="25" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 0C4.02938 0 0 4.02938 0 9C0 13.9706 4.02938 18 9 18C13.9706 18 18 13.9706 18 9C18 4.02938 13.9706 0 9 0ZM6.79687 12.7303H4.97437V6.86531H6.79687V12.7303ZM5.87437 6.14531C5.29875 6.14531 4.92656 5.7375 4.92656 5.23312C4.92656 4.71844 5.31 4.32281 5.89781 4.32281C6.48562 4.32281 6.84562 4.71844 6.85687 5.23312C6.85687 5.7375 6.48562 6.14531 5.87437 6.14531ZM13.4531 12.7303H11.6306V9.48C11.6306 8.72344 11.3663 8.20969 10.7072 8.20969C10.2037 8.20969 9.90469 8.5575 9.7725 8.89219C9.72375 9.01125 9.71156 9.18 9.71156 9.34781V12.7294H7.88812V8.73563C7.88812 8.00344 7.86469 7.39125 7.84031 6.86437H9.42375L9.50719 7.67906H9.54375C9.78375 7.29656 10.3716 6.73219 11.355 6.73219C12.5541 6.73219 13.4531 7.53562 13.4531 9.2625V12.7303Z" fill="#FF3EA5"/>
        </svg>
        <svg width="25" height="25" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 0C4.02991 0 0 4.02991 0 9C0 13.9701 4.02991 18 9 18C13.9701 18 18 13.9701 18 9C18 4.02991 13.9701 0 9 0ZM12.3549 12.7286C11.5393 13.4799 10.4263 13.9219 9.09844 13.9219C7.17589 13.9219 5.5125 12.819 4.7029 11.2118C4.36942 10.5469 4.17857 9.79554 4.17857 9C4.17857 8.20446 4.36942 7.45312 4.7029 6.78817C5.5125 5.17902 7.17589 4.07612 9.09844 4.07612C10.4243 4.07612 11.5373 4.56429 12.3911 5.35781L10.9808 6.77009C10.4705 6.28192 9.82165 6.03482 9.10045 6.03482C7.81875 6.03482 6.73393 6.90067 6.34621 8.06384C6.24777 8.35915 6.19152 8.67455 6.19152 9C6.19152 9.32545 6.24777 9.64085 6.34621 9.93616C6.73393 11.0993 7.81875 11.9652 9.09844 11.9652C9.76138 11.9652 10.3239 11.7904 10.7638 11.4951C11.2862 11.1455 11.6317 10.6252 11.7462 10.0085H9.09844V8.10402H13.733C13.7913 8.42745 13.8214 8.76295 13.8214 9.11049C13.8214 10.6112 13.285 11.8708 12.3549 12.7286Z" fill="#FF3EA5"/>
        </svg>
      </div>
      
      <p class="center">Don't have an account? <a href="/register" class="light-link"><b>Sign Up</b></a></p>

    </form>

  </div>

  <script src="../public/js/login.js"></script>

</main>
