<main>
  <head>
    <link rel="stylesheet" href="/public/css/login-style.css"/>
  </head>
  <form action="/login" method="POST" id="login-form" class="centered">
    <h1>Login</h1>

    <label for="countryCodeInput">
      Country Code (+_)
      <input
        type="countryCode"
        name="countryCodeInput"
        id="countryCodeInput"
        placeholder="Enter country code"
      >
    </label>

    <label for="mobileInput">
      Phone Number
      <input
        type="mobile"
        name="mobileInput"
        id="mobileInput"
        placeholder="Enter phone number"
      >
    </label>

    <label for="passwordInput">
      Password
      <input
        type="password"
        name="passwordInput"
        id="passwordInput"
        placeholder="Enter password"
      >
    </label>

    <div id="error-div" class="centered"></div>
    {{!-- <div id="errors">{{bad}}</div> --}}

    {{#if error}}
      <p id="server-errors" class="errors">{{message}}</p>
    {{/if}}

    <button type="submit" class="btn">Log In</button>
    <br>
    <a href="/register" class="light-link">Click here to register!</a>
  </form>

  <script src="../public/js/login.js"></script>

</main>
