<head>
        <link rel="stylesheet" href="/public/css/shop-styles.css"/>
</head>
<main>
    <div>
        <h1 class="Shop">Recommended For You</h1>
        <a><p>View All →</p></a>
        {{itemArr}}
    </div>
    <div>
        <h1>Best Selling</h1>
        <a><p>View All →</p></a>
        {{itemArr}}
    </div>
    <br>
    <div>
        <h1>Trending</h1>
        <a><p>View All →</p></a>
        {{itemArr}}
        
    </div>
    <div>
        <h1>Recently Viewed</h1>
        <a><p>View All →</p></a>
        {{itemArr}}
    </div>
</main>