<head>
        <link rel="stylesheet" href="/public/css/product-styles.css"/>
</head>
<main>
    <span class="prod">
        <br>
        <span class="imgCol">
            <img class = "prodIMG" src={{product.image}} />
        </span>
        <span class="infoCol">
            <h2>{{product.name}}</h2>
            <span class="ratingInfo">
                <img class="star" src="/public/media/Star.png">
                <p class="rating">5</p>
            </span>
            <p class="price">${{product.actualPrice}}</p>
        </span>
    </span>
    
</main>