img {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

video {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}


h1 {
  display: block;
  text-align: center;
  z-index: 3;
}

.post-page {
  margin-left:auto;

}

footer {
  display:none;
}

.indiv-post {
  border-radius: 12px;
  background-color: white;
}

.top-of-post {
  display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

#profilepic {
  height:60px;
  width: 60px;
}

.follow {
  background-color: #CDAA89;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Lato";
  border-radius: 10px;
}

#profile-name {
  font-family: "Lato";
}

#x {
    margin-left: 12%;
    margin-right: 12px;
    margin-bottom: 7%;
}

.caption {
  font-family: "Lato";
  margin-left: 5%;
  margin-right: 5%;
}

#likes-and-icons {
  display: flex;
  margin-left: 5%;
    margin-right: 5%;
    margin-top:2%
}

.likes {
  font-family: 'Lato';
}

.send {
  padding-left: 6%;
}

#post-date {
  margin-left: auto;
  font-family: 'Lato';
  color: rgba(0, 0, 0, 0.5);
}

.tags {
    display: flex;
    align-items: center;
    gap: 1%;
    margin: 5%;
        border-bottom: 2px solid #0000002e;
    padding-bottom: 5%;
}

#tag-label {
  font-size: small;
}

.tags-box {
  border: 2px solid #00000017;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
}

.tag-name {
  font-family: 'Lato';
  font-size: small;
}

.comments-section {
  display:flex;
  font-family: 'Lato';
  justify-content: center;
  font-size: x-large;
  padding-bottom: 5%;
}