<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" formControlName="firstName" name="firstName" required><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName" name="lastName" required><br>

       <label for="interests">Interests:</label>
        <select id="interests" formControlName="interests" name="interests" multiple required>
            <option value="skincare">Skincare</option>
            <option value="cosmetic-surgery">Cosmetic Surgery</option>
            <option value="dental-care">Dental Care</option>
        </select><br>

        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" name="email" required><br>

        <label for="accessToken">Password:</label>
        <input type="text" id="accessToken" formControlName="accessToken" name="accessToken" required><br>

        <label for="countryCode">Country Code:</label>
        <input type="text" id="countryCode" formControlName="countryCode" name="countryCode" required><br>

        <label for="mobile">Mobile:</label>
        <input type="text" id="mobile" formControlName="mobile" name="mobile" required><br>

        <button type="submit">Submit</button>
    </form>